.clock-container {
    margin:auto;
    background-color: aqua;
    width:200px;
}

.clock-display {
    background-color: blue;
    display:inline;
}

.colon {
    display:inline;
}

.clock-box { 
    font-size: 36px;
    align:center;
    background-color: yellow;
    width:300px;    
    margin: auto;
    margin-top:20px;
}

.container {
    margin:auto;
    align: center;
    width:500px;
    background-color: red;
    border: 2px solid coral;
}

.extended {
    background-color: grey;
    border: 3px solid black;
    margin: auto;
    margin-top: 50px;
    align:center;
    width:300px;
}

.btn {
    background-color: darkblue;
    align:center;
    padding:5px;
    color:white;
    margin: auto;
    width:80%;
}

.selected {
    background-color: darkblue;
}